.contenedor{
    background-color: #bfb2b2;
    height: 100vh;
}
.contenedor .superior{
    background-color: #8f3a3ac5;
}
.contenedor .centro{

    width: 100%;
}
.info svg{
    width: 50px;
    height: 60px;
    color: #ad5858;
}
.info{
    background-color: wheat;
    border-color: black;
    border-radius: 10px;
}
.info input{
    border-color: #ad5858;
}
.info button{
    border-color: #ad5858;
    color: #ad5858;
    border-radius: 10px;
}
.informacion{
    text-align: center;
    background-color: rgba(231, 175, 108, 0.748);
}
@media only screen and (max-width: 800px) {
    .imagen {
      display: none;
    }
  }
